body
{
	background-color: #9EEFE5;
}

.HeaderDiv {
  border: 1px outset rgb(0, 0, 0);
  background-color: #3C474B;
  text-align: center;
  color: white;
}

.FooterDiv {
    border: 1px outset rgb(0, 0, 0);
    background-color: #3C474B;
    text-align: center;
    color: rgb(255, 255, 255);
  }

.MyWorkDiv {
    background-color: #4F7CAC;
    text-align: left;
    color: white;
  }

  li{
      padding: 1%;
      font-size: 24px;
  }

  h1{
      font-size: 48px;
      text-align: center;
  }

  h3{
        font-size: 24px;
        color: white;
  }
